.section {
    width: 600px;
    box-sizing: border-box;
    /*height: 912px;*/
    /*outline: 1px solid greenyellow;*/
    /*z-index: 1;*/
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #F2F2F3;
}

.tab {
    display: flex;
}

.link{
    all: unset;
}

.article {
    width: 600px;
    height: calc(100vh - 324px);
    min-height: 208px;
    overflow-y: auto;
    overflow-x: hidden;
}

.article::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;

}

.article::-webkit-scrollbar-thumb {
    background: #8585AD;
}