.span {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    line-height: 86%;
}

.price {
    display: flex;
    justify-content: center;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}